html {
    color: #000000;
    font-size: 20px;
    font-family: "arial", "sans-serif";
}

body {
    background-image: url("Pictures/BGparchment1.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
}

a {
    padding: 0px 15px 0px 0px;
    color: #000000;
    font-family: "impact", "sans-serif";
    font-size: 30px;
}

p {
    font-weight: 600;
    width: 70%;
}

li {
    font-weight: 600;
    width: 70%;
}

q {
    font-weight: 200;
    width: 40%;
}
